.playerQueue {
    margin-top: 1rem;
}

.inputRow {
    display: flex;
    justify-content: space-between;
}

.noPlayers {
    margin-top: 2rem;
    margin-left: 1rem;
}

.playersTitle {
    margin-top: 1em;
    margin-left: 0.5rem;
}

.combobox {
    width: 90%;
}
