.playerQueue{
    margin-top: 2rem;
}

.inputRow{
    display: flex;
    justify-content: space-between;
}

.noPlayers {
    margin-top: 2rem;
    margin-left: 1rem;
}

.playersTitle {
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.combobox {
    width: 80%;
}

.addPlayerButton {
    width: 15%;
}