.playerQueueItem {
    display: flex;
    justify-content: space-between;
}

.playerQueueItemName {
    margin: 4px 0 0 0;
}

.playerQueueItemNamePaused {
    opacity: 0.5;
}

.playerQueueItemButton {
    margin-left: 1rem;
}

.playerQueueItemChair {
    border-color: #FFBC42;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}
